<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <h3>Update listing</h3>
    <form method="POST" action="/listings/<%=data._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="md-3">
            <label for="title" class="form-label">Title</label>
            <input value="<%=data.title%>" type="text" name="listing[title]" class="form-control" required>
            <div class="valid-feedback">Title Looks Good!</div>
            <div class="invalid-feedback">Please enter valid title</div>
        </div>
        <div class="md-3">
            <label for="description" class="form-label">Description</label>
            <textarea rows="5" cols="20" name="listing[description]" class="form-control" required><%=data.description%></textarea>
            <div class="valid-feedback">Description Looks Good!</div>
            <div class="invalid-feedback">Please enter description</div>
        </div>
        <div class="mb-3">
           Original Listing Image:<br>
          <img src="<%=originalImageUrl%>">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="price" class="form-label">Price</label>
                <input value="<%=data.price%>" type="number" name="listing[price]" class="form-control" required>
                <div class="invalid-feedback">Please enter valid price</div>
            </div>
            <div class="col-md-8">
                <label for="country" class="form-label">Country</label>
                <input value="<%=data.country%>" type="text" name="listing[country]" class="form-control" required>
                <div class="invalid-feedback">Please enter valid country</div>
            </div>
        </div>
        <div class="md-3">
            <label for="location" class="form-label">Location</label>
            <input value="<%=data.location%>" type="text" name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">Please enter valid location</div>
        </div>
        <br>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    </div>
</div>